<div class="d-flex align-items-center justify-content-end copy-btn-container">
  <button class="btn copy-btn p-action" {{action "copyData"}} title="Copy information to clipboard">
    {{fa-icon icon="clipboard" fixedWidth=true}}
  </button>
  <div class="copy-success-message {{if showCopyMessage "visible" "hidden"}}">
    {{fa-icon icon="check" fixedWidth=true class="copy-success-icon"}}
    Copied information.
  </div>
</div>

<div class="mb-1">
  <div class="mb-2">
    {{#if (eq lookupType "cve")}}
      <a class="p-link" href="https://app.snapattack.com/collection/vulnerability/{{block.entity.value}}">View in
        SnapAttack
        {{fa-icon icon="external-link-square" fixedWidth=true class="external-link"}}
      </a>
    {{else if (eq lookupType "threatActors")}}
      <a class="p-link" href="https://app.snapattack.com/collection/actor/{{block.entity.value}}">View in SnapAttack
        {{fa-icon icon="external-link-square" fixedWidth=true class="external-link"}}
      </a>
    {{else}}
      <a class="p-link" href="https://app.snapattack.com/collection/attack/{{block.entity.value}}">View in SnapAttack
        {{fa-icon icon="external-link-square" fixedWidth=true class="external-link"}}
      </a>
    {{/if}}
  </div>
  {{#if details.description}}
    <div>
      <span class="p-value p-block">{{details.description}}</span>
    </div>
  {{/if}}
</div>

<div id="snapattack-container-{{uniqueIdPrefix}}">
  {{#if details.creation}}
    <div>
      <span class="p-key">Created:</span>
      <span class="p-value">{{moment-format details.creation 'MM/DD/YYYY HH:mm:ss' timeZone=timezone}}</span>
    </div>
  {{/if}}

  {{#if details.cisa_known_exploited_date}}
    <div>
      <span class="p-key">CISA Known Exploited Date:</span>
      <span class="p-value">{{moment-format details.cisa_known_exploited_date 'MM/DD/YYYY HH:mm:ss'
                                            timeZone=timezone}}</span>
    </div>
  {{/if}}

  {{#if (or (eq details.observed_in_the_wild true)(eq observed_in_the_wild false))}}
    <div>
      <span class="p-key">Observed in Wild:</span>
      <span class="p-value">{{details.observed_in_the_wild}}</span>
    </div>
  {{/if}}

  {{#if details.epss_score}}
    <div>
      <span class="p-key">EPSS Score:</span>
      <span class="p-value">{{details.epss_score}}</span>
    </div>
  {{/if}}

  {{#if details.first_seen}}
    <div>
      <span class="p-key">First Observed:</span>
      <span class="p-value">{{moment-format details.first_seen 'MM/DD/YYYY HH:mm:ss' timeZone=timezone}}</span>
    </div>
  {{/if}}

  {{#if details.last_seen}}
    <div>
      <span class="p-key">Last Observed:</span>
      <span class="p-value">{{moment-format details.last_seen 'MM/DD/YYYY HH:mm:ss' timeZone=timezone}}</span>
    </div>
  {{/if}}

  {{#if details.workarounds}}
    <h1 class="p-title">{{fa-icon icon="wrench" fixedWidth=true}} Recommended Workarounds</h1>
    {{#each details.workarounds as |work|}}
      <span class="p-value p-block">{{work}}</span>
    {{/each}}
  {{/if}}

  {{#if details.motivations}}
    <h1 class="p-title">{{fa-icon icon="question" fixedWidth=true}} Motivations</h1>
    {{#each details.motivations as |motive|}}
      <span class="tag">{{motive}}</span>
    {{/each}}
  {{/if}}

  {{#if details.resolutions}}
    <h1 class="p-title">{{fa-icon icon="globe" fixedWidth=true}} Resolutions</h1>
    {{#each details.resolutions as |res|}}
      <div class="section">{{res}}</div>
    {{/each}}
  {{/if}}

  {{#if details.severity}}
    <div>
      <span class="p-key">Severity:</span>
      <span class="p-value">{{details.severity}}</span>
    </div>
  {{/if}}

  {{#if details.type}}
    <div>
      <span class="p-key">Type:</span>
      <span class="p-value">{{details.type}}</span>
    </div>
  {{/if}}

  {{#if details.cvss_3_vector}}
    <h1 class="p-title">{{fa-icon icon="vector-square" fixedWidth=true}} CVSS 3 Vector</h1>
    <div class="p-value">{{details.cvss_3_vector}}</div>
  {{/if}}

  {{#if details.cvss_3_vector_details}}
    <h1 class="p-title">{{fa-icon icon="star" fixedWidth=true}} CVSS Scores</h1>
    <div class="info-bar mb-1">
      <div class="info-bar-row">
        <div class="info-bar-pill">
          <span class="info-bar-key">Base</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.base_score}}{{details.cvss_3_vector_details.base_score}}{{else}}
              N/A{{/if}}
          </span>
        </div>
        <div class="info-bar-pill">
          <span class="info-bar-key">Temporal</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.temporal_score}}{{details.cvss_3_vector_details.temporal_score}}{{else}}
              N/A{{/if}}
          </span>
        </div>
        <div class="info-bar-pill">
          <span class="info-bar-key">Environmental</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.environmental_score}}{{details.cvss_3_vector_details.environmental_score}}{{else}}
              N/A{{/if}}
          </span>
        </div>
      </div>
    </div>

    <h1 class="p-title">{{fa-icon icon="claw-marks" fixedWidth=true}} CVSS Exploitability (Modified)</h1>
    <div class="info-bar mb-1">
      <div class="info-bar-row">
        <div class="info-bar-pill two-wide">
          <span class="info-bar-key">Attack Vector</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.modified_attack_vector}}{{details.cvss_3_vector_details.modified_attack_vector}}{{else}}
              N/A{{/if}}
          </span>
        </div>
        <div class="info-bar-pill two-wide">
          <span class="info-bar-key">Complexity</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.modified_attack_complexity}}{{details.cvss_3_vector_details.modified_attack_complexity}}{{else}}
              N/A{{/if}}
          </span>
        </div>
      </div>
      <div class="info-bar-row">
        <div class="info-bar-pill two-wide">
          <span class="info-bar-key">Privileges Req'd</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.modified_privileges_required}}{{details.cvss_3_vector_details.modified_privileges_required}}{{else}}
              N/A{{/if}}
          </span>
        </div>
        <div class="info-bar-pill two-wide">
          <span class="info-bar-key">User Interaction</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.modified_user_interaction}}{{details.cvss_3_vector_details.modified_user_interaction}}{{else}}
              N/A{{/if}}
          </span>
        </div>
      </div>
    </div>

    <h1 class="p-title">{{fa-icon icon="hammer" fixedWidth=true}} CVSS Impacts (Modified)</h1>
    <div class="info-bar mb-1">
      <div class="info-bar-row">
        <div class="info-bar-pill">
          <span class="info-bar-key">Confidentiality</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.modified_confidentiality_impact}}{{details.cvss_3_vector_details.modified_confidentiality_impact}}{{else}}
              N/A{{/if}}
          </span>
        </div>
        <div class="info-bar-pill">
          <span class="info-bar-key">Integrity</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.modified_integrity_impact}}{{details.cvss_3_vector_details.modified_integrity_impact}}{{else}}
              N/A{{/if}}
          </span>
        </div>
        <div class="info-bar-pill">
          <span class="info-bar-key">Availability</span>
          <span class="info-bar-value">
            {{#if details.cvss_3_vector_details.modified_availability_impact}}{{details.cvss_3_vector_details.modified_availability_impact}}{{else}}
              N/A{{/if}}
          </span>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if details.available_mitigation}}
    <h1 class="p-title">{{fa-icon icon="stop" fixedWidth=true}} Available Mitigations</h1>
    {{#each details.available_mitigation as |mit|}}
      <span class="tag">{{mit}}</span>
    {{/each}}
  {{/if}}

  {{#if details.platforms}}
    <h1 class="p-title">{{fa-icon icon="briefcase" fixedWidth=true}} Associated Platforms</h1>
    {{#each details.platforms as |plat|}}
      <span class="tag">{{plat}}</span>
    {{/each}}
  {{/if}}

  {{#if details.parents}}
    <h1 class="p-title">{{fa-icon icon="globe" fixedWidth=true}} Known MITRE Attack Parents</h1>
    <div class="scrollable-container">
      {{#each details.parents as |parent|}}
        <span class="tag">{{parent.external_source_id}}: {{parent.name}}</span>
      {{/each}}
    </div>
  {{/if}}

  {{#if details.children}}
    <h1 class="p-title">{{fa-icon icon="globe" fixedWidth=true}} Known MITRE Attack Children</h1>
    <div class="scrollable-container">
      {{#each details.children as |child|}}
        <span class="tag">{{child.external_source_id}}</span>
      {{/each}}
    </div>
  {{/if}}

  {{#if details.aliases}}
    <h1 class="p-title">{{fa-icon icon="user" fixedWidth=true}} Known Aliases</h1>
    {{#each details.aliases as |alias|}}
      <span class="tag">{{alias}}</span>
    {{/each}}
  {{/if}}

  {{#if details.attacks}}
    <h1 class="p-title">{{fa-icon icon="mace" fixedWidth=true}} Number of Associated Attack
      Scripts: {{details.attacks.length}}</h1>
  {{/if}}


  {{#if details.exploits}}
    <h1 class="p-title">{{fa-icon icon="spider" fixedWidth=true}} Number of Known
      Exploits: {{details.exploits.length}}</h1>
  {{/if}}

  {{#if details.vulnerabilities}}
    <h1 class="p-title">{{fa-icon icon="bug" fixedWidth=true}} Associated Vulnerabilities</h1>
    {{#each details.vulnerabilities as |vuln|}}
      <span class="tag">{{vuln.name}}</span>
    {{/each}}
  {{/if}}


  {{#if details.source_regions}}
    <h1 class="p-title">{{fa-icon icon="globe" fixedWidth=true}} Known Source Regions</h1>
    {{#each details.source_regions as |source|}}
      <span class="tag">{{source}}</span>
    {{/each}}
  {{/if}}

  {{#if details.target_regions}}
    <h1 class="p-title">{{fa-icon icon="globe" fixedWidth=true}} Known Target Regions</h1>
    {{#each details.target_regions as |target|}}
      <span class="tag">{{target}}</span>
    {{/each}}
  {{/if}}

  {{#if details.industries}}
    <h1 class="p-title">{{fa-icon icon="industry" fixedWidth=true}} Targeted Industries</h1>
    {{#each details.industries as |ind|}}
      <span class="tag">{{ind.name}}</span>
    {{/each}}
  {{/if}}

  {{#if details.actors}}
    <h1 class="p-title">{{fa-icon icon="user-secret" fixedWidth=true}} Known Threat Actors</h1>
    <div class="scrollable-container">
      {{#each details.actors as |actor|}}
        <span class="tag">{{actor.name}}</span>
      {{/each}}
    </div>
  {{/if}}

  {{#if details.vulnerable_cpes}}
    <h1 class="p-title">{{fa-icon icon="industry" fixedWidth=true}} Vulnerable CPEs</h1>
    {{#each details.vulnerable_cpes as |cpe|}}
      <span class="tag">{{cpe.cpe_title}}</span>
    {{/each}}
  {{/if}}

  {{#if details.vendors}}
    <h1 class="p-title">{{fa-icon icon="credit-card" fixedWidth=true}} Vendors</h1>
    {{#each details.vendors as |vendor|}}
      <span class="tag">{{vendor}}</span>
    {{/each}}
  {{/if}}

  {{#if details.products}}
    <h1 class="p-title">{{fa-icon icon="clipboard" fixedWidth=true}} Products</h1>
    {{#each details.products as |prod|}}
      <span class="tag">{{prod}}</span>
    {{/each}}
  {{/if}}

  {{#if details.software}}
    <div class="p-title">{{fa-icon icon="starship" fixedWidth=true}} Number of Associated
      Software: {{details.software.length}}</div>
  {{/if}}
</div>